* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212; /* Fundo escuro */
  color: #fff;
}

a {
  text-decoration: none;
  color: #80cbc4;
}

#login {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.caixa {
  width: 350px;
  padding: 30px; 
  background-color: #1e1e1e; /* Caixa mais escura */
  color: #ffffff;
  text-align: center;
  border: 2px solid #80cbc4; /* Borda em tom aquático */
  border-radius: 15px;
  box-shadow: 5px 5px 15px #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 65px;
}

.caixa:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px #333333;
}

.caixa img {
  width: 115px;
  margin-bottom: 20px;
}

.email input,
.senha input {
  border-radius: 15px;
  border: none;
  width: 250px;
  height: 40px;
  padding-left: 15px;
  background-color: #2c2c2c;
  color: #b6b6b6;
  margin-bottom: 15px;
}

.entrar input {
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #80cbc4; /* Botão em tom aquático */
  color: #121212;
}

input::placeholder {
  color: #b6b6b6;
}

input:focus {
  outline: none;
  border-color: #80cbc4;
}
